image: node:14

pipelines:
  branches:
    dev:
      - step:
          name: Build and Code Lint
          caches:
            - node
          script:
            - npm install
            - npm run build
            - npm run lint
            - apt update && apt install zip
            # Exclude files to be ignored
            - zip -r app-$BITBUCKET_BUILD_NUMBER.zip . -x *.git* bitbucket-pipelines.yml node_modules\*
          artifacts:
            - "*.zip"

      - step:
          name: Deploy to Development
          deployment: develop
          script:
            - pipe: atlassian/aws-elasticbeanstalk-deploy:1.0.2
              variables:
                AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
                AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
                AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
                APPLICATION_NAME: 'clover-web'
                ENVIRONMENT_NAME: 'clover-web-dev'
                ZIP_FILE: app-$BITBUCKET_BUILD_NUMBER.zip
                S3_BUCKET: 'elasticbeanstalk-deployment-clover'
                # DESCRIPTION: '<string>' # Optional.
                WAIT: 'true'
                # WAIT_INTERVAL: '<integer>' # Optional.
                # WARMUP_INTERVAL: '<integer>' # Optional.
                # COMMAND: '<string>' # Optional.
                # DEBUG: '<boolean>' # Optional.